.mc-id {
	width: 32px;
	height: 32px;
	display: inline-block;
	background: url('http://cdn.lightwiremc.net/items/error.png') no-repeat;
}
.mc- { background: url('http://cdn.lightwiremc.net/items/error.png') no-repeat; }
.mc-air { background: url('http://cdn.lightwiremc.net/items/0-0.png') no-repeat; }
.mc-stone { background: url('http://cdn.lightwiremc.net/items/1-0.png') no-repeat; }
.mc-granite { background: url('http://cdn.lightwiremc.net/items/1-1.png') no-repeat; }
.mc-polished-granite { background: url('http://cdn.lightwiremc.net/items/1-2.png') no-repeat; }
.mc-diorite { background: url('http://cdn.lightwiremc.net/items/1-3.png') no-repeat; }
.mc-polished-diorite { background: url('http://cdn.lightwiremc.net/items/1-4.png') no-repeat; }
.mc-andesite { background: url('http://cdn.lightwiremc.net/items/1-5.png') no-repeat; }
.mc-polished-andesite { background: url('http://cdn.lightwiremc.net/items/1-6.png') no-repeat; }
.mc-grass { background: url('http://cdn.lightwiremc.net/items/2-0.png') no-repeat; }
.mc-dirt { background: url('http://cdn.lightwiremc.net/items/3-0.png') no-repeat; }
.mc-dirt-coarse { background: url('http://cdn.lightwiremc.net/items/3-1.png') no-repeat; }
.mc-podzol { background: url('http://cdn.lightwiremc.net/items/3-2.png') no-repeat; }
.mc-cobblestone { background: url('http://cdn.lightwiremc.net/items/4-0.png') no-repeat; }
.mc-plank-oak { background: url('http://cdn.lightwiremc.net/items/5-0.png') no-repeat; }
.mc-plank-spruce { background: url('http://cdn.lightwiremc.net/items/5-1.png') no-repeat; }
.mc-plank-birch { background: url('http://cdn.lightwiremc.net/items/5-2.png') no-repeat; }
.mc-plank-jungle { background: url('http://cdn.lightwiremc.net/items/5-3.png') no-repeat; }
.mc-plank-acacia { background: url('http://cdn.lightwiremc.net/items/5-4.png') no-repeat; }
.mc-plank-dark { background: url('http://cdn.lightwiremc.net/items/5-5.png') no-repeat; }
.mc-sapling-oak { background: url('http://cdn.lightwiremc.net/items/6-0.png') no-repeat; }
.mc-sapling-spruce { background: url('http://cdn.lightwiremc.net/items/6-1.png') no-repeat; }
.mc-sapling-birch { background: url('http://cdn.lightwiremc.net/items/6-2.png') no-repeat; }
.mc-sapling-jungle { background: url('http://cdn.lightwiremc.net/items/6-3.png') no-repeat; }
.mc-sapling-acacia { background: url('http://cdn.lightwiremc.net/items/6-4.png') no-repeat; }
.mc-sapling-dark { background: url('http://cdn.lightwiremc.net/items/6-5.png') no-repeat; }
.mc-bedrock { background: url('http://cdn.lightwiremc.net/items/7-0.png') no-repeat; }
.mc-water-flow { background: url('http://cdn.lightwiremc.net/items/8-0.png') no-repeat; }
.mc-water-still { background: url('http://cdn.lightwiremc.net/items/9-0.png') no-repeat; }
.mc-lava-flow { background: url('http://cdn.lightwiremc.net/items/10-0.png') no-repeat; }
.mc-lava-still { background: url('http://cdn.lightwiremc.net/items/11-0.png') no-repeat; }
.mc-sand { background: url('http://cdn.lightwiremc.net/items/12-0.png') no-repeat; }
.mc-red-sand { background: url('http://cdn.lightwiremc.net/items/12-1.png') no-repeat; }
.mc-gravel { background: url('http://cdn.lightwiremc.net/items/13-0.png') no-repeat; }
.mc-ore-gold { background: url('http://cdn.lightwiremc.net/items/14-0.png') no-repeat; }
.mc-ore-iron { background: url('http://cdn.lightwiremc.net/items/15-0.png') no-repeat; }
.mc-ore-coal { background: url('http://cdn.lightwiremc.net/items/16-0.png') no-repeat; }
.mc-log-oak { background: url('http://cdn.lightwiremc.net/items/17-0.png') no-repeat; }
.mc-log-spruce { background: url('http://cdn.lightwiremc.net/items/17-1.png') no-repeat; }
.mc-log-birch { background: url('http://cdn.lightwiremc.net/items/17-2.png') no-repeat; }
.mc-log-jungle { background: url('http://cdn.lightwiremc.net/items/17-3.png') no-repeat; }
.mc-leave-oak { background: url('http://cdn.lightwiremc.net/items/18-0.png') no-repeat; }
.mc-leave-spruce { background: url('http://cdn.lightwiremc.net/items/18-1.png') no-repeat; }
.mc-leave-birch { background: url('http://cdn.lightwiremc.net/items/18-2.png') no-repeat; }
.mc-leave-jungle { background: url('http://cdn.lightwiremc.net/items/18-3.png') no-repeat; }
.mc-sponge { background: url('http://cdn.lightwiremc.net/items/19-0.png') no-repeat; }
.mc-sponge-wet { background: url('http://cdn.lightwiremc.net/items/19-1.png') no-repeat; }
.mc-glass { background: url('http://cdn.lightwiremc.net/items/20-0.png') no-repeat; }
.mc-ore-lapis { background: url('http://cdn.lightwiremc.net/items/21-0.png') no-repeat; }
.mc-block-lapis { background: url('http://cdn.lightwiremc.net/items/22-0.png') no-repeat; }
.mc-dispenser { background: url('http://cdn.lightwiremc.net/items/23-0.png') no-repeat; }
.mc-sandstone { background: url('http://cdn.lightwiremc.net/items/24-0.png') no-repeat; }
.mc-sandstone-chiseled { background: url('http://cdn.lightwiremc.net/items/24-1.png') no-repeat; }
.mc-sandstone-smooth { background: url('http://cdn.lightwiremc.net/items/24-2.png') no-repeat; }
.mc-block-note { background: url('http://cdn.lightwiremc.net/items/25-0.png') no-repeat; }
.mc-block-bed { background: url('http://cdn.lightwiremc.net/items/26-0.png') no-repeat; }
.mc-rail-powered { background: url('http://cdn.lightwiremc.net/items/27-0.png') no-repeat; }
.mc-rail-detector { background: url('http://cdn.lightwiremc.net/items/28-0.png') no-repeat; }
.mc-piston-sticky { background: url('http://cdn.lightwiremc.net/items/29-0.png') no-repeat; }
.mc-cobweb { background: url('http://cdn.lightwiremc.net/items/30-0.png') no-repeat; }
.mc-shrub { background: url('http://cdn.lightwiremc.net/items/31-0.png') no-repeat; }
.mc-grass { background: url('http://cdn.lightwiremc.net/items/31-1.png') no-repeat; }
.mc-fern { background: url('http://cdn.lightwiremc.net/items/31-2.png') no-repeat; }
.mc-bush-dead { background: url('http://cdn.lightwiremc.net/items/32-0.png') no-repeat; }
.mc-piston { background: url('http://cdn.lightwiremc.net/items/33-0.png') no-repeat; }
.mc-piston-head { background: url('http://cdn.lightwiremc.net/items/34-0.png') no-repeat; }
.mc-wool-white { background: url('http://cdn.lightwiremc.net/items/35-0.png') no-repeat; }
.mc-wool-orange { background: url('http://cdn.lightwiremc.net/items/35-1.png') no-repeat; }
.mc-wool-magenta { background: url('http://cdn.lightwiremc.net/items/35-2.png') no-repeat; }
.mc-wool-aqua { background: url('http://cdn.lightwiremc.net/items/35-3.png') no-repeat; }
.mc-wool-yellow { background: url('http://cdn.lightwiremc.net/items/35-4.png') no-repeat; }
.mc-wool-lime { background: url('http://cdn.lightwiremc.net/items/35-5.png') no-repeat; }
.mc-wool-pink { background: url('http://cdn.lightwiremc.net/items/35-6.png') no-repeat; }
.mc-wool-gray { background: url('http://cdn.lightwiremc.net/items/35-7.png') no-repeat; }
.mc-wool-charcoal { background: url('http://cdn.lightwiremc.net/items/35-8.png') no-repeat; }
.mc-wool-cyan { background: url('http://cdn.lightwiremc.net/items/35-9.png') no-repeat; }
.mc-wool-purple { background: url('http://cdn.lightwiremc.net/items/35-10.png') no-repeat; }
.mc-wool-blue { background: url('http://cdn.lightwiremc.net/items/35-11.png') no-repeat; }
.mc-wool-brown { background: url('http://cdn.lightwiremc.net/items/35-12.png') no-repeat; }
.mc-wool-green { background: url('http://cdn.lightwiremc.net/items/35-13.png') no-repeat; }
.mc-wool-red { background: url('http://cdn.lightwiremc.net/items/35-14.png') no-repeat; }
.mc-wool-black { background: url('http://cdn.lightwiremc.net/items/35-15.png') no-repeat; }
.mc-dandelion { background: url('http://cdn.lightwiremc.net/items/37-0.png') no-repeat; }
.mc-poppy { background: url('http://cdn.lightwiremc.net/items/38-0.png') no-repeat; }
.mc-orchid-blue { background: url('http://cdn.lightwiremc.net/items/38-1.png') no-repeat; }
.mc-allium { background: url('http://cdn.lightwiremc.net/items/38-2.png') no-repeat; }
.mc-bluet-azure { background: url('http://cdn.lightwiremc.net/items/38-3.png') no-repeat; }
.mc-tulip-red { background: url('http://cdn.lightwiremc.net/items/38-4.png') no-repeat; }
.mc-tulip-orange { background: url('http://cdn.lightwiremc.net/items/38-5.png') no-repeat; }
.mc-tulip-white { background: url('http://cdn.lightwiremc.net/items/38-6.png') no-repeat; }
.mc-tulip-pink { background: url('http://cdn.lightwiremc.net/items/38-7.png') no-repeat; }
.mc-daisy-oxeye { background: url('http://cdn.lightwiremc.net/items/38-8.png') no-repeat; }
.mc-mushroom-brown { background: url('http://cdn.lightwiremc.net/items/39-0.png') no-repeat; }
.mc-mushroom-red { background: url('http://cdn.lightwiremc.net/items/40-0.png') no-repeat; }
.mc-block-gold { background: url('http://cdn.lightwiremc.net/items/41-0.png') no-repeat; }
.mc-block-iron { background: url('http://cdn.lightwiremc.net/items/42-0.png') no-repeat; }
.mc-slab-double-stone { background: url('http://cdn.lightwiremc.net/items/43-0.png') no-repeat; }
.mc-slab-double-sandstone { background: url('http://cdn.lightwiremc.net/items/43-1.png') no-repeat; }
.mc-slab-double-wooden { background: url('http://cdn.lightwiremc.net/items/43-2.png') no-repeat; }
.mc-slab-double-cobblestone { background: url('http://cdn.lightwiremc.net/items/43-3.png') no-repeat; }
.mc-slab-double-brick { background: url('http://cdn.lightwiremc.net/items/43-4.png') no-repeat; }
.mc-slab-double-stone-brick { background: url('http://cdn.lightwiremc.net/items/43-5.png') no-repeat; }
.mc-slab-double-nether { background: url('http://cdn.lightwiremc.net/items/43-6.png') no-repeat; }
.mc-slab-double-quartz { background: url('http://cdn.lightwiremc.net/items/43-7.png') no-repeat; }
.mc-slab-stone { background: url('http://cdn.lightwiremc.net/items/44-0.png') no-repeat; }
.mc-slab-sandstone { background: url('http://cdn.lightwiremc.net/items/44-1.png') no-repeat; }
.mc-slab-wooden { background: url('http://cdn.lightwiremc.net/items/44-2.png') no-repeat; }
.mc-slab-cobblestone { background: url('http://cdn.lightwiremc.net/items/44-3.png') no-repeat; }
.mc-slab-brick { background: url('http://cdn.lightwiremc.net/items/44-4.png') no-repeat; }
.mc-slab-stone-brick { background: url('http://cdn.lightwiremc.net/items/44-5.png') no-repeat; }
.mc-slab-nether { background: url('http://cdn.lightwiremc.net/items/44-6.png') no-repeat; }
.mc-slab-quartz { background: url('http://cdn.lightwiremc.net/items/44-7.png') no-repeat; }
.mc-bricks { background: url('http://cdn.lightwiremc.net/items/45-0.png') no-repeat; }
.mc-tnt { background: url('http://cdn.lightwiremc.net/items/46-0.png') no-repeat; }
.mc-bookshelf { background: url('http://cdn.lightwiremc.net/items/47-0.png') no-repeat; }
.mc-stone-moss { background: url('http://cdn.lightwiremc.net/items/48-0.png') no-repeat; }
.mc-obsidian { background: url('http://cdn.lightwiremc.net/items/49-0.png') no-repeat; }
.mc-torch { background: url('http://cdn.lightwiremc.net/items/50-0.png') no-repeat; }
.mc-fire { background: url('http://cdn.lightwiremc.net/items/51-0.png') no-repeat; }
.mc-spawner { background: url('http://cdn.lightwiremc.net/items/52-0.png') no-repeat; }
.mc-stairs-oak { background: url('http://cdn.lightwiremc.net/items/53-0.png') no-repeat; }
.mc-chest { background: url('http://cdn.lightwiremc.net/items/54-0.png') no-repeat; }
.mc-wire-redstone { background: url('http://cdn.lightwiremc.net/items/55-0.png') no-repeat; }
.mc-ore-diamond { background: url('http://cdn.lightwiremc.net/items/56-0.png') no-repeat; }
.mc-block-diamond { background: url('http://cdn.lightwiremc.net/items/57-0.png') no-repeat; }
.mc-table-crafting { background: url('http://cdn.lightwiremc.net/items/58-0.png') no-repeat; }
.mc-crop-wheat { background: url('http://cdn.lightwiremc.net/items/59-0.png') no-repeat; }
.mc-farmland { background: url('http://cdn.lightwiremc.net/items/60-0.png') no-repeat; }
.mc-furnace { background: url('http://cdn.lightwiremc.net/items/61-0.png') no-repeat; }
.mc-furnace-burning { background: url('http://cdn.lightwiremc.net/items/62-0.png') no-repeat; }
.mc-sign-standing { background: url('http://cdn.lightwiremc.net/items/63-0.png') no-repeat; }
.mc-door-oak { background: url('http://cdn.lightwiremc.net/items/64-0.png') no-repeat; }
.mc-ladder { background: url('http://cdn.lightwiremc.net/items/65-0.png') no-repeat; }
.mc-rail { background: url('http://cdn.lightwiremc.net/items/66-0.png') no-repeat; }
.mc-sign-wall { background: url('http://cdn.lightwiremc.net/items/67-0.png') no-repeat; }
.mc-stairs-cobblestone { background: url('http://cdn.lightwiremc.net/items/68-0.png') no-repeat; }
.mc-lever { background: url('http://cdn.lightwiremc.net/items/69-0.png') no-repeat; }
.mc-plate-stone { background: url('http://cdn.lightwiremc.net/items/70-0.png') no-repeat; }
.mc-door-iron { background: url('http://cdn.lightwiremc.net/items/71-0.png') no-repeat; }
.mc-plate-wooden { background: url('http://cdn.lightwiremc.net/items/72-0.png') no-repeat; }
.mc-ore-redstone { background: url('http://cdn.lightwiremc.net/items/73-0.png') no-repeat; }
.mc-ore-redstone-glowing { background: url('http://cdn.lightwiremc.net/items/74-0.png') no-repeat; }
.mc-torch-redstone-off { background: url('http://cdn.lightwiremc.net/items/75-0.png') no-repeat; }
.mc-torch-redstone-on { background: url('http://cdn.lightwiremc.net/items/76-0.png') no-repeat; }
.mc-button-stone { background: url('http://cdn.lightwiremc.net/items/77-0.png') no-repeat; }
.mc-snow { background: url('http://cdn.lightwiremc.net/items/78-0.png') no-repeat; }
.mc-ice { background: url('http://cdn.lightwiremc.net/items/79-0.png') no-repeat; }
.mc-block-snow { background: url('http://cdn.lightwiremc.net/items/80-0.png') no-repeat; }
.mc-cactus { background: url('http://cdn.lightwiremc.net/items/81-0.png') no-repeat; }
.mc-block-clay { background: url('http://cdn.lightwiremc.net/items/82-0.png') no-repeat; }
.mc-block-reeds { background: url('http://cdn.lightwiremc.net/items/83-0.png') no-repeat; }
.mc-jukebox { background: url('http://cdn.lightwiremc.net/items/84-0.png') no-repeat; }
.mc-fence-oak { background: url('http://cdn.lightwiremc.net/items/85-0.png') no-repeat; }
.mc-pumpkin { background: url('http://cdn.lightwiremc.net/items/86-0.png') no-repeat; }
.mc-netherrack { background: url('http://cdn.lightwiremc.net/items/87-0.png') no-repeat; }
.mc-sand-soul { background: url('http://cdn.lightwiremc.net/items/88-0.png') no-repeat; }
.mc-glowstone { background: url('http://cdn.lightwiremc.net/items/89-0.png') no-repeat; }
.mc-portal-nether { background: url('http://cdn.lightwiremc.net/items/90-0.png') no-repeat; }
.mc-pumpkin-lit { background: url('http://cdn.lightwiremc.net/items/91-0.png') no-repeat; }
.mc-block-cake { background: url('http://cdn.lightwiremc.net/items/92-0.png') no-repeat; }
.mc-repeater-off { background: url('http://cdn.lightwiremc.net/items/93-0.png') no-repeat; }
.mc-repeater-on { background: url('http://cdn.lightwiremc.net/items/94-0.png') no-repeat; }
.mc-glass-white { background: url('http://cdn.lightwiremc.net/items/95-0.png') no-repeat; }
.mc-glass-orange { background: url('http://cdn.lightwiremc.net/items/95-1.png') no-repeat; }
.mc-glass-magenta { background: url('http://cdn.lightwiremc.net/items/95-2.png') no-repeat; }
.mc-glass-aqua { background: url('http://cdn.lightwiremc.net/items/95-3.png') no-repeat; }
.mc-glass-yellow { background: url('http://cdn.lightwiremc.net/items/95-4.png') no-repeat; }
.mc-glass-lime { background: url('http://cdn.lightwiremc.net/items/95-5.png') no-repeat; }
.mc-glass-pink { background: url('http://cdn.lightwiremc.net/items/95-6.png') no-repeat; }
.mc-glass-gray { background: url('http://cdn.lightwiremc.net/items/95-7.png') no-repeat; }
.mc-glass-charcoal { background: url('http://cdn.lightwiremc.net/items/95-8.png') no-repeat; }
.mc-glass-cyan { background: url('http://cdn.lightwiremc.net/items/95-9.png') no-repeat; }
.mc-glass-purple { background: url('http://cdn.lightwiremc.net/items/95-10.png') no-repeat; }
.mc-glass-blue { background: url('http://cdn.lightwiremc.net/items/95-11.png') no-repeat; }
.mc-glass-brown { background: url('http://cdn.lightwiremc.net/items/95-12.png') no-repeat; }
.mc-glass-green { background: url('http://cdn.lightwiremc.net/items/95-13.png') no-repeat; }
.mc-glass-red { background: url('http://cdn.lightwiremc.net/items/95-14.png') no-repeat; }
.mc-glass-black { background: url('http://cdn.lightwiremc.net/items/95-15.png') no-repeat; }
.mc-trapdoor-wooden { background: url('http://cdn.lightwiremc.net/items/96-0.png') no-repeat; }
.mc-egg-stone { background: url('http://cdn.lightwiremc.net/items/97-0.png') no-repeat; }
.mc-egg-cobblestone { background: url('http://cdn.lightwiremc.net/items/97-1.png') no-repeat; }
.mc-egg-brick { background: url('http://cdn.lightwiremc.net/items/97-2.png') no-repeat; }
.mc-egg-mossy { background: url('http://cdn.lightwiremc.net/items/97-3.png') no-repeat; }
.mc-egg-cracked { background: url('http://cdn.lightwiremc.net/items/97-4.png') no-repeat; }
.mc-egg-chiseled { background: url('http://cdn.lightwiremc.net/items/97-5.png') no-repeat; }
.mc-brick-stone { background: url('http://cdn.lightwiremc.net/items/98-0.png') no-repeat; }
.mc-brick-mossy { background: url('http://cdn.lightwiremc.net/items/98-1.png') no-repeat; }
.mc-brick-cracked { background: url('http://cdn.lightwiremc.net/items/98-2.png') no-repeat; }
.mc-brick-chiseled { background: url('http://cdn.lightwiremc.net/items/98-3.png') no-repeat; }
.mc-block-mushroom-brown { background: url('http://cdn.lightwiremc.net/items/99-0.png') no-repeat; }
.mc-block-mushroom-red { background: url('http://cdn.lightwiremc.net/items/100-0.png') no-repeat; }
.mc-bars-iron { background: url('http://cdn.lightwiremc.net/items/101-0.png') no-repeat; }
.mc-pane { background: url('http://cdn.lightwiremc.net/items/102-0.png') no-repeat; }
.mc-block-melon { background: url('http://cdn.lightwiremc.net/items/103-0.png') no-repeat; }
.mc-stem-pumpkin { background: url('http://cdn.lightwiremc.net/items/104-0.png') no-repeat; }
.mc-stem-melon { background: url('http://cdn.lightwiremc.net/items/105-0.png') no-repeat; }
.mc-vines { background: url('http://cdn.lightwiremc.net/items/106-0.png') no-repeat; }
.mc-gate-oak { background: url('http://cdn.lightwiremc.net/items/107-0.png') no-repeat; }
.mc-stair-brick { background: url('http://cdn.lightwiremc.net/items/108-0.png') no-repeat; }
.mc-stair-brick-stone { background: url('http://cdn.lightwiremc.net/items/109-0.png') no-repeat; }
.mc-mycelium { background: url('http://cdn.lightwiremc.net/items/110-0.png') no-repeat; }
.mc-lily { background: url('http://cdn.lightwiremc.net/items/111-0.png') no-repeat; }
.mc-nether-brick { background: url('http://cdn.lightwiremc.net/items/112-0.png') no-repeat; }
.mc-nether-fence { background: url('http://cdn.lightwiremc.net/items/113-0.png') no-repeat; }
.mc-nether-stair { background: url('http://cdn.lightwiremc.net/items/114-0.png') no-repeat; }
.mc-crop-wart { background: url('http://cdn.lightwiremc.net/items/115-0.png') no-repeat; }
.mc-table-enchantment { background: url('http://cdn.lightwiremc.net/items/116-0.png') no-repeat; }
.mc-block-brewing { background: url('http://cdn.lightwiremc.net/items/117-0.png') no-repeat; }
.mc-cauldron { background: url('http://cdn.lightwiremc.net/items/118-0.png') no-repeat; }
.mc-end-portal { background: url('http://cdn.lightwiremc.net/items/119-0.png') no-repeat; }
.mc-end-frame { background: url('http://cdn.lightwiremc.net/items/120-0.png') no-repeat; }
.mc-end-stone { background: url('http://cdn.lightwiremc.net/items/121-0.png') no-repeat; }
.mc-egg-dragon { background: url('http://cdn.lightwiremc.net/items/122-0.png') no-repeat; }
.mc-lamp-redstone-off { background: url('http://cdn.lightwiremc.net/items/123-0.png') no-repeat; }
.mc-lamp-redstone-on { background: url('http://cdn.lightwiremc.net/items/124-0.png') no-repeat; }
.mc-slab-double-oak { background: url('http://cdn.lightwiremc.net/items/125-0.png') no-repeat; }
.mc-slab-double-spruce { background: url('http://cdn.lightwiremc.net/items/125-1.png') no-repeat; }
.mc-slab-double-birch { background: url('http://cdn.lightwiremc.net/items/125-2.png') no-repeat; }
.mc-slab-double-jungle { background: url('http://cdn.lightwiremc.net/items/125-3.png') no-repeat; }
.mc-slab-double-acacia { background: url('http://cdn.lightwiremc.net/items/125-4.png') no-repeat; }
.mc-slab-double-dark { background: url('http://cdn.lightwiremc.net/items/125-5.png') no-repeat; }
.mc-slab-oak { background: url('http://cdn.lightwiremc.net/items/126-0.png') no-repeat; }
.mc-slab-spruce { background: url('http://cdn.lightwiremc.net/items/126-1.png') no-repeat; }
.mc-slab-birch { background: url('http://cdn.lightwiremc.net/items/126-2.png') no-repeat; }
.mc-slab-jungle { background: url('http://cdn.lightwiremc.net/items/126-3.png') no-repeat; }
.mc-slab-acacia { background: url('http://cdn.lightwiremc.net/items/126-4.png') no-repeat; }
.mc-slab-dark { background: url('http://cdn.lightwiremc.net/items/126-5.png') no-repeat; }
.mc-cocoa { background: url('http://cdn.lightwiremc.net/items/127-0.png') no-repeat; }
.mc-stairs-sandstone { background: url('http://cdn.lightwiremc.net/items/128-0.png') no-repeat; }
.mc-ore-emerald { background: url('http://cdn.lightwiremc.net/items/129-0.png') no-repeat; }
.mc-chest-ender { background: url('http://cdn.lightwiremc.net/items/130-0.png') no-repeat; }
.mc-hook-tripwire { background: url('http://cdn.lightwiremc.net/items/131-0.png') no-repeat; }
.mc-tripwire { background: url('http://cdn.lightwiremc.net/items/132-0.png') no-repeat; }
.mc-block-emerald { background: url('http://cdn.lightwiremc.net/items/133-0.png') no-repeat; }
.mc-stairs-spruce { background: url('http://cdn.lightwiremc.net/items/134-0.png') no-repeat; }
.mc-stairs-birch { background: url('http://cdn.lightwiremc.net/items/135-0.png') no-repeat; }
.mc-stairs-jungle { background: url('http://cdn.lightwiremc.net/items/136-0.png') no-repeat; }
.mc-command { background: url('http://cdn.lightwiremc.net/items/137-0.png') no-repeat; }
.mc-beacon { background: url('http://cdn.lightwiremc.net/items/138-0.png') no-repeat; }
.mc-wall-cobblestone { background: url('http://cdn.lightwiremc.net/items/139-0.png') no-repeat; }
.mc-wall-slab { background: url('http://cdn.lightwiremc.net/items/139-1.png') no-repeat; }
.mc-pot-flower { background: url('http://cdn.lightwiremc.net/items/140-0.png') no-repeat; }
.mc-crop-carrot { background: url('http://cdn.lightwiremc.net/items/141-0.png') no-repeat; }
.mc-crop-potatos { background: url('http://cdn.lightwiremc.net/items/142-0.png') no-repeat; }
.mc-button-wooden { background: url('http://cdn.lightwiremc.net/items/143-0.png') no-repeat; }
.mc-head-mob { background: url('http://cdn.lightwiremc.net/items/144-0.png') no-repeat; }
.mc-anvil { background: url('http://cdn.lightwiremc.net/items/145-0.png') no-repeat; }
.mc-chest-trapped { background: url('http://cdn.lightwiremc.net/items/146-0.png') no-repeat; }
.mc-plate-light { background: url('http://cdn.lightwiremc.net/items/147-0.png') no-repeat; }
.mc-plate-heavy { background: url('http://cdn.lightwiremc.net/items/148-0.png') no-repeat; }
.mc-comparator-off { background: url('http://cdn.lightwiremc.net/items/149-0.png') no-repeat; }
.mc-comparator-on { background: url('http://cdn.lightwiremc.net/items/150-0.png') no-repeat; }
.mc-sensor { background: url('http://cdn.lightwiremc.net/items/151-0.png') no-repeat; }
.mc-block-redstone { background: url('http://cdn.lightwiremc.net/items/152-0.png') no-repeat; }
.mc-ore-quartz { background: url('http://cdn.lightwiremc.net/items/153-0.png') no-repeat; }
.mc-hopper { background: url('http://cdn.lightwiremc.net/items/hopper.png') no-repeat; }
.mc-block-quartz { background: url('http://cdn.lightwiremc.net/items/155-0.png') no-repeat; }
.mc-quartz-chiseled { background: url('http://cdn.lightwiremc.net/items/155-1.png') no-repeat; }
.mc-quartz-pillar { background: url('http://cdn.lightwiremc.net/items/155-2.png') no-repeat; }
.mc-stairs-quartz { background: url('http://cdn.lightwiremc.net/items/156-0.png') no-repeat; }
.mc-activator-rail { background: url('http://cdn.lightwiremc.net/items/157-0.png') no-repeat; }
.mc-dropper { background: url('http://cdn.lightwiremc.net/items/158-0.png') no-repeat; }
.mc-clay-white { background: url('http://cdn.lightwiremc.net/items/159-0.png') no-repeat; }
.mc-clay-orange { background: url('http://cdn.lightwiremc.net/items/159-1.png') no-repeat; }
.mc-clay-magenta { background: url('http://cdn.lightwiremc.net/items/159-2.png') no-repeat; }
.mc-clay-aqua { background: url('http://cdn.lightwiremc.net/items/159-3.png') no-repeat; }
.mc-clay-yellow { background: url('http://cdn.lightwiremc.net/items/159-4.png') no-repeat; }
.mc-clay-lime { background: url('http://cdn.lightwiremc.net/items/159-5.png') no-repeat; }
.mc-clay-pink { background: url('http://cdn.lightwiremc.net/items/159-6.png') no-repeat; }
.mc-clay-gray { background: url('http://cdn.lightwiremc.net/items/159-7.png') no-repeat; }
.mc-clay-charcoal { background: url('http://cdn.lightwiremc.net/items/159-8.png') no-repeat; }
.mc-clay-cyan { background: url('http://cdn.lightwiremc.net/items/159-9.png') no-repeat; }
.mc-clay-purple { background: url('http://cdn.lightwiremc.net/items/159-10.png') no-repeat; }
.mc-clay-blue { background: url('http://cdn.lightwiremc.net/items/159-11.png') no-repeat; }
.mc-clay-brown { background: url('http://cdn.lightwiremc.net/items/159-12.png') no-repeat; }
.mc-clay-green { background: url('http://cdn.lightwiremc.net/items/159-13.png') no-repeat; }
.mc-clay-red { background: url('http://cdn.lightwiremc.net/items/159-14.png') no-repeat; }
.mc-clay-black { background: url('http://cdn.lightwiremc.net/items/159-15.png') no-repeat; }
.mc-pane-white { background: url('http://cdn.lightwiremc.net/items/160-0.png') no-repeat; }
.mc-pane-orange { background: url('http://cdn.lightwiremc.net/items/160-1.png') no-repeat; }
.mc-pane-magenta { background: url('http://cdn.lightwiremc.net/items/160-2.png') no-repeat; }
.mc-pane-aqua { background: url('http://cdn.lightwiremc.net/items/160-3.png') no-repeat; }
.mc-pane-yellow { background: url('http://cdn.lightwiremc.net/items/160-4.png') no-repeat; }
.mc-pane-lime { background: url('http://cdn.lightwiremc.net/items/160-5.png') no-repeat; }
.mc-pane-pink { background: url('http://cdn.lightwiremc.net/items/160-6.png') no-repeat; }
.mc-pane-gray { background: url('http://cdn.lightwiremc.net/items/160-7.png') no-repeat; }
.mc-pane-charcoal { background: url('http://cdn.lightwiremc.net/items/160-8.png') no-repeat; }
.mc-pane-cyan { background: url('http://cdn.lightwiremc.net/items/160-9.png') no-repeat; }
.mc-pane-purple { background: url('http://cdn.lightwiremc.net/items/160-10.png') no-repeat; }
.mc-pane-blue { background: url('http://cdn.lightwiremc.net/items/160-11.png') no-repeat; }
.mc-pane-brown { background: url('http://cdn.lightwiremc.net/items/160-12.png') no-repeat; }
.mc-pane-green { background: url('http://cdn.lightwiremc.net/items/160-13.png') no-repeat; }
.mc-pane-red { background: url('http://cdn.lightwiremc.net/items/160-14.png') no-repeat; }
.mc-pane-black { background: url('http://cdn.lightwiremc.net/items/160-15.png') no-repeat; }
.mc-leave-acacia { background: url('http://cdn.lightwiremc.net/items/161-0.png') no-repeat; }
.mc-leave-dark { background: url('http://cdn.lightwiremc.net/items/161-1.png') no-repeat; }
.mc-log-acacia { background: url('http://cdn.lightwiremc.net/items/162-0.png') no-repeat; }
.mc-log-dark { background: url('http://cdn.lightwiremc.net/items/162-1.png') no-repeat; }
.mc-stairs-acacia { background: url('http://cdn.lightwiremc.net/items/163-0.png') no-repeat; }
.mc-stairs-dark { background: url('http://cdn.lightwiremc.net/items/164-0.png') no-repeat; }
.mc-block-slime { background: url('http://cdn.lightwiremc.net/items/165-0.png') no-repeat; }
.mc-barrier { background: url('http://cdn.lightwiremc.net/items/166-0.png') no-repeat; }
.mc-trapdoor-iron { background: url('http://cdn.lightwiremc.net/items/167-0.png') no-repeat; }
.mc-prismarine { background: url('http://cdn.lightwiremc.net/items/168-0.png') no-repeat; }
.mc-block-prismarine { background: url('http://cdn.lightwiremc.net/items/168-1.png') no-repeat; }
.mc-prismarine-dark { background: url('http://cdn.lightwiremc.net/items/168-2.png') no-repeat; }
.mc-latern-sea { background: url('http://cdn.lightwiremc.net/items/169-0.png') no-repeat; }
.mc-bale-hay { background: url('http://cdn.lightwiremc.net/items/170-0.png') no-repeat; }
.mc-carpet-white { background: url('http://cdn.lightwiremc.net/items/171-0.png') no-repeat; }
.mc-carpet-orange { background: url('http://cdn.lightwiremc.net/items/171-1.png') no-repeat; }
.mc-carpet-magenta { background: url('http://cdn.lightwiremc.net/items/171-2.png') no-repeat; }
.mc-carpet-aqua { background: url('http://cdn.lightwiremc.net/items/171-3.png') no-repeat; }
.mc-carpet-yellow { background: url('http://cdn.lightwiremc.net/items/171-4.png') no-repeat; }
.mc-carpet-lime { background: url('http://cdn.lightwiremc.net/items/171-5.png') no-repeat; }
.mc-carpet-pink { background: url('http://cdn.lightwiremc.net/items/171-6.png') no-repeat; }
.mc-carpet-gray { background: url('http://cdn.lightwiremc.net/items/171-7.png') no-repeat; }
.mc-carpet-charcoal { background: url('http://cdn.lightwiremc.net/items/171-8.png') no-repeat; }
.mc-carpet-cyan { background: url('http://cdn.lightwiremc.net/items/171-9.png') no-repeat; }
.mc-carpet-purple { background: url('http://cdn.lightwiremc.net/items/171-10.png') no-repeat; }
.mc-carpet-blue { background: url('http://cdn.lightwiremc.net/items/171-11.png') no-repeat; }
.mc-carpet-brown { background: url('http://cdn.lightwiremc.net/items/171-12.png') no-repeat; }
.mc-carpet-green { background: url('http://cdn.lightwiremc.net/items/171-13.png') no-repeat; }
.mc-carpet-red { background: url('http://cdn.lightwiremc.net/items/171-14.png') no-repeat; }
.mc-carpet-black { background: url('http://cdn.lightwiremc.net/items/171-15.png') no-repeat; }
.mc-clay-hardened { background: url('http://cdn.lightwiremc.net/items/172-0.png') no-repeat; }
.mc-block-coal { background: url('http://cdn.lightwiremc.net/items/173-0.png') no-repeat; }
.mc-ice-packed { background: url('http://cdn.lightwiremc.net/items/174-0.png') no-repeat; }
.mc-sunflower { background: url('http://cdn.lightwiremc.net/items/175-0.png') no-repeat; }
.mc-lilac { background: url('http://cdn.lightwiremc.net/items/175-1.png') no-repeat; }
.mc-tallgrass { background: url('http://cdn.lightwiremc.net/items/175-2.png') no-repeat; }
.mc-fern-tall { background: url('http://cdn.lightwiremc.net/items/175-3.png') no-repeat; }
.mc-bush-rose { background: url('http://cdn.lightwiremc.net/items/175-4.png') no-repeat; }
.mc-peony { background: url('http://cdn.lightwiremc.net/items/175-5.png') no-repeat; }
.mc-banner-free { background: url('http://cdn.lightwiremc.net/items/176-0.png') no-repeat; }
.mc-banner-wall { background: url('http://cdn.lightwiremc.net/items/177-0.png') no-repeat; }
.mc-sensor-inverted { background: url('http://cdn.lightwiremc.net/items/178-0.png') no-repeat; }
.mc-red-sandstone { background: url('http://cdn.lightwiremc.net/items/179-0.png') no-repeat; }
.mc-red-chiseled { background: url('http://cdn.lightwiremc.net/items/179-1.png') no-repeat; }
.mc-red-smooth { background: url('http://cdn.lightwiremc.net/items/179-2.png') no-repeat; }
.mc-stair-red { background: url('http://cdn.lightwiremc.net/items/180-0.png') no-repeat; }
.mc-slab-double-red { background: url('http://cdn.lightwiremc.net/items/181-0.png') no-repeat; }
.mc-slab-red { background: url('http://cdn.lightwiremc.net/items/182-0.png') no-repeat; }
.mc-gate-spruce { background: url('http://cdn.lightwiremc.net/items/183-0.png') no-repeat; }
.mc-gate-birch { background: url('http://cdn.lightwiremc.net/items/184-0.png') no-repeat; }
.mc-gate-jungle { background: url('http://cdn.lightwiremc.net/items/185-0.png') no-repeat; }
.mc-gate-dark { background: url('http://cdn.lightwiremc.net/items/186-0.png') no-repeat; }
.mc-gate-acacia { background: url('http://cdn.lightwiremc.net/items/187-0.png') no-repeat; }
.mc-fence-spruce { background: url('http://cdn.lightwiremc.net/items/188-0.png') no-repeat; }
.mc-fence-birch { background: url('http://cdn.lightwiremc.net/items/189-0.png') no-repeat; }
.mc-fence-jungle { background: url('http://cdn.lightwiremc.net/items/190-0.png') no-repeat; }
.mc-fence-dark { background: url('http://cdn.lightwiremc.net/items/191-0.png') no-repeat; }
.mc-fence-acacia { background: url('http://cdn.lightwiremc.net/items/192-0.png') no-repeat; }
.mc-door-spruce { background: url('http://cdn.lightwiremc.net/items/193-0.png') no-repeat; }
.mc-door-birch { background: url('http://cdn.lightwiremc.net/items/194-0.png') no-repeat; }
.mc-door-jungle { background: url('http://cdn.lightwiremc.net/items/195-0.png') no-repeat; }
.mc-door-acacia { background: url('http://cdn.lightwiremc.net/items/196-0.png') no-repeat; }
.mc-door-dark { background: url('http://cdn.lightwiremc.net/items/197-0.png') no-repeat; }
.mc-end-rod { background: url('http://cdn.lightwiremc.net/items/198-0.png') no-repeat; }
.mc-chorus-plant { background: url('http://cdn.lightwiremc.net/items/199-0.png') no-repeat; }
.mc-chorus-flower { background: url('http://cdn.lightwiremc.net/items/200-0.png') no-repeat; }
.mc-block-purpur { background: url('http://cdn.lightwiremc.net/items/201-0.png') no-repeat; }
.mc-purpur-pillar { background: url('http://cdn.lightwiremc.net/items/202-0.png') no-repeat; }
.mc-stairs-purpur { background: url('http://cdn.lightwiremc.net/items/203-0.png') no-repeat; }
.mc-slab-double-purpur { background: url('http://cdn.lightwiremc.net/items/204-0.png') no-repeat; }
.mc-slab-purpur { background: url('http://cdn.lightwiremc.net/items/205-0.png') no-repeat; }
.mc-brick-stone-end { background: url('http://cdn.lightwiremc.net/items/206-0.png') no-repeat; }
.mc-block-beetroot { background: url('http://cdn.lightwiremc.net/items/207-0.png') no-repeat; }
.mc-path-grass { background: url('http://cdn.lightwiremc.net/items/208-0.png') no-repeat; }
.mc-gateway { background: url('http://cdn.lightwiremc.net/items/209-0.png') no-repeat; }
.mc-command-repeat { background: url('http://cdn.lightwiremc.net/items/210-0.png') no-repeat; }
.mc-command-chain { background: url('http://cdn.lightwiremc.net/items/211-0.png') no-repeat; }
.mc-ice-frozen { background: url('http://cdn.lightwiremc.net/items/212-0.png') no-repeat; }
.mc-block-magma { background: url('http://cdn.lightwiremc.net/items/213-0.png') no-repeat; }
.mc-block-nether-wart { background: url('http://cdn.lightwiremc.net/items/214-0.png') no-repeat; }
.mc-block-brick-wart { background: url('http://cdn.lightwiremc.net/items/215-0.png') no-repeat; }
.mc-block-bone { background: url('http://cdn.lightwiremc.net/items/216-0.png') no-repeat; }
.mc-structure-void { background: url('http://cdn.lightwiremc.net/items/217-0.png') no-repeat; }
.mc-block-structure { background: url('http://cdn.lightwiremc.net/items/255-0.png') no-repeat; }
.mc-shovel-iron { background: url('http://cdn.lightwiremc.net/items/256-0.png') no-repeat; }
.mc-pickaxe-iron { background: url('http://cdn.lightwiremc.net/items/257-0.png') no-repeat; }
.mc-axe-iron { background: url('http://cdn.lightwiremc.net/items/258-0.png') no-repeat; }
.mc-lighter { background: url('http://cdn.lightwiremc.net/items/259-0.png') no-repeat; }
.mc-apple { background: url('http://cdn.lightwiremc.net/items/260-0.png') no-repeat; }
.mc-bow { background: url('http://cdn.lightwiremc.net/items/261-0.png') no-repeat; }
.mc-arrow { background: url('http://cdn.lightwiremc.net/items/262-0.png') no-repeat; }
.mc-coal { background: url('http://cdn.lightwiremc.net/items/263-0.png') no-repeat; }
.mc-charcoal { background: url('http://cdn.lightwiremc.net/items/263-1.png') no-repeat; }
.mc-diamond { background: url('http://cdn.lightwiremc.net/items/264-0.png') no-repeat; }
.mc-iron { background: url('http://cdn.lightwiremc.net/items/265-0.png') no-repeat; }
.mc-gold { background: url('http://cdn.lightwiremc.net/items/266-0.png') no-repeat; }
.mc-sword-iron { background: url('http://cdn.lightwiremc.net/items/267-0.png') no-repeat; }
.mc-sword-wooden { background: url('http://cdn.lightwiremc.net/items/268-0.png') no-repeat; }
.mc-shovel-wooden { background: url('http://cdn.lightwiremc.net/items/269-0.png') no-repeat; }
.mc-pickaxe-wooden { background: url('http://cdn.lightwiremc.net/items/270-0.png') no-repeat; }
.mc-axe-wooden { background: url('http://cdn.lightwiremc.net/items/271-0.png') no-repeat; }
.mc-sword-stone { background: url('http://cdn.lightwiremc.net/items/272-0.png') no-repeat; }
.mc-shovel-stone { background: url('http://cdn.lightwiremc.net/items/273-0.png') no-repeat; }
.mc-pickaxe-stone { background: url('http://cdn.lightwiremc.net/items/274-0.png') no-repeat; }
.mc-axe-stone { background: url('http://cdn.lightwiremc.net/items/275-0.png') no-repeat; }
.mc-sword-diamond { background: url('http://cdn.lightwiremc.net/items/276-0.png') no-repeat; }
.mc-shovel-diamond { background: url('http://cdn.lightwiremc.net/items/277-0.png') no-repeat; }
.mc-pickaxe-diamond { background: url('http://cdn.lightwiremc.net/items/278-0.png') no-repeat; }
.mc-axe-diamond { background: url('http://cdn.lightwiremc.net/items/279-0.png') no-repeat; }
.mc-stick { background: url('http://cdn.lightwiremc.net/items/280-0.png') no-repeat; }
.mc-bowl { background: url('http://cdn.lightwiremc.net/items/281-0.png') no-repeat; }
.mc-stew-mushroom { background: url('http://cdn.lightwiremc.net/items/282-0.png') no-repeat; }
.mc-sword-gold { background: url('http://cdn.lightwiremc.net/items/283-0.png') no-repeat; }
.mc-shovel-gold { background: url('http://cdn.lightwiremc.net/items/284-0.png') no-repeat; }
.mc-pickaxe-gold { background: url('http://cdn.lightwiremc.net/items/285-0.png') no-repeat; }
.mc-axe-gold { background: url('http://cdn.lightwiremc.net/items/286-0.png') no-repeat; }
.mc-string { background: url('http://cdn.lightwiremc.net/items/287-0.png') no-repeat; }
.mc-feather { background: url('http://cdn.lightwiremc.net/items/288-0.png') no-repeat; }
.mc-gunpower { background: url('http://cdn.lightwiremc.net/items/289-0.png') no-repeat; }
.mc-hoe-wooden { background: url('http://cdn.lightwiremc.net/items/290-0.png') no-repeat; }
.mc-hoe-stone { background: url('http://cdn.lightwiremc.net/items/291-0.png') no-repeat; }
.mc-hoe-iron { background: url('http://cdn.lightwiremc.net/items/292-0.png') no-repeat; }
.mc-hoe-diamond { background: url('http://cdn.lightwiremc.net/items/293-0.png') no-repeat; }
.mc-hoe-gold { background: url('http://cdn.lightwiremc.net/items/294-0.png') no-repeat; }
.mc-seeds-wheat { background: url('http://cdn.lightwiremc.net/items/295-0.png') no-repeat; }
.mc-wheat { background: url('http://cdn.lightwiremc.net/items/296-0.png') no-repeat; }
.mc-bread { background: url('http://cdn.lightwiremc.net/items/297-0.png') no-repeat; }
.mc-helmet-leather { background: url('http://cdn.lightwiremc.net/items/298-0.png') no-repeat; }
.mc-chest-leather { background: url('http://cdn.lightwiremc.net/items/299-0.png') no-repeat; }
.mc-pants-leather { background: url('http://cdn.lightwiremc.net/items/300-0.png') no-repeat; }
.mc-boots-leather { background: url('http://cdn.lightwiremc.net/items/301-0.png') no-repeat; }
.mc-helmet-chain { background: url('http://cdn.lightwiremc.net/items/302-0.png') no-repeat; }
.mc-chest-chain { background: url('http://cdn.lightwiremc.net/items/303-0.png') no-repeat; }
.mc-pants-chain { background: url('http://cdn.lightwiremc.net/items/304-0.png') no-repeat; }
.mc-boots-chain { background: url('http://cdn.lightwiremc.net/items/305-0.png') no-repeat; }
.mc-helmet-iron { background: url('http://cdn.lightwiremc.net/items/306-0.png') no-repeat; }
.mc-chest-iron { background: url('http://cdn.lightwiremc.net/items/307-0.png') no-repeat; }
.mc-pants-iron { background: url('http://cdn.lightwiremc.net/items/308-0.png') no-repeat; }
.mc-boots-iron { background: url('http://cdn.lightwiremc.net/items/309-0.png') no-repeat; }
.mc-helmet-diamond { background: url('http://cdn.lightwiremc.net/items/310-0.png') no-repeat; }
.mc-chest-diamond { background: url('http://cdn.lightwiremc.net/items/311-0.png') no-repeat; }
.mc-pants-diamond { background: url('http://cdn.lightwiremc.net/items/312-0.png') no-repeat; }
.mc-boots-diamond { background: url('http://cdn.lightwiremc.net/items/313-0.png') no-repeat; }
.mc-helmet-gold { background: url('http://cdn.lightwiremc.net/items/314-0.png') no-repeat; }
.mc-chest-gold { background: url('http://cdn.lightwiremc.net/items/315-0.png') no-repeat; }
.mc-pants-gold { background: url('http://cdn.lightwiremc.net/items/316-0.png') no-repeat; }
.mc-boots-gold { background: url('http://cdn.lightwiremc.net/items/317-0.png') no-repeat; }
.mc-flint { background: url('http://cdn.lightwiremc.net/items/318-0.png') no-repeat; }
.mc-raw-pork { background: url('http://cdn.lightwiremc.net/items/319-0.png') no-repeat; }
.mc-cook-pork { background: url('http://cdn.lightwiremc.net/items/320-0.png') no-repeat; }
.mc-painting { background: url('http://cdn.lightwiremc.net/items/321-0.png') no-repeat; }
.mc-apple-gold { background: url('http://cdn.lightwiremc.net/items/322-0.png') no-repeat; }
.mc-apple-notch { background: url('http://cdn.lightwiremc.net/items/322-1.png') no-repeat; }
.mc-sign { background: url('http://cdn.lightwiremc.net/items/323-0.png') no-repeat; }
.mc-door-oak { background: url('http://cdn.lightwiremc.net/items/324-0.png') no-repeat; }
.mc-bucket { background: url('http://cdn.lightwiremc.net/items/325-0.png') no-repeat; }
.mc-bucket-water { background: url('http://cdn.lightwiremc.net/items/326-0.png') no-repeat; }
.mc-bucket-lava { background: url('http://cdn.lightwiremc.net/items/327-0.png') no-repeat; }
.mc-minecart { background: url('http://cdn.lightwiremc.net/items/328-0.png') no-repeat; }
.mc-saddle { background: url('http://cdn.lightwiremc.net/items/329-0.png') no-repeat; }
.mc-door-iron { background: url('http://cdn.lightwiremc.net/items/330-0.png') no-repeat; }
.mc-redstone { background: url('http://cdn.lightwiremc.net/items/331-0.png') no-repeat; }
.mc-snowball { background: url('http://cdn.lightwiremc.net/items/332-0.png') no-repeat; }
.mc-boat-oak { background: url('http://cdn.lightwiremc.net/items/333-0.png') no-repeat; }
.mc-leather { background: url('http://cdn.lightwiremc.net/items/334-0.png') no-repeat; }
.mc-bucket-milk { background: url('http://cdn.lightwiremc.net/items/335-0.png') no-repeat; }
.mc-brick-brick { background: url('http://cdn.lightwiremc.net/items/336-0.png') no-repeat; }
.mc-clay-ball { background: url('http://cdn.lightwiremc.net/items/337-0.png') no-repeat; }
.mc-reed { background: url('http://cdn.lightwiremc.net/items/338-0.png') no-repeat; }
.mc-paper { background: url('http://cdn.lightwiremc.net/items/339-0.png') no-repeat; }
.mc-book { background: url('http://cdn.lightwiremc.net/items/340-0.png') no-repeat; }
.mc-slime { background: url('http://cdn.lightwiremc.net/items/341-0.png') no-repeat; }
.mc-chest-minecart { background: url('http://cdn.lightwiremc.net/items/342-0.png') no-repeat; }
.mc-furnace-minecart { background: url('http://cdn.lightwiremc.net/items/343-0.png') no-repeat; }
.mc-egg { background: url('http://cdn.lightwiremc.net/items/344-0.png') no-repeat; }
.mc-compass { background: url('http://cdn.lightwiremc.net/items/345-0.png') no-repeat; }
.mc-rod-fish { background: url('http://cdn.lightwiremc.net/items/346-0.png') no-repeat; }
.mc-clock { background: url('http://cdn.lightwiremc.net/items/347-0.png') no-repeat; }
.mc-dust-glowstone { background: url('http://cdn.lightwiremc.net/items/348-0.png') no-repeat; }
.mc-fish-raw { background: url('http://cdn.lightwiremc.net/items/349-0.png') no-repeat; }
.mc-raw-salmon { background: url('http://cdn.lightwiremc.net/items/349-1.png') no-repeat; }
.mc-clownfish { background: url('http://cdn.lightwiremc.net/items/349-2.png') no-repeat; }
.mc-pufferfish { background: url('http://cdn.lightwiremc.net/items/349-3.png') no-repeat; }
.mc-fish-cook { background: url('http://cdn.lightwiremc.net/items/350-0.png') no-repeat; }
.mc-cook-salmon { background: url('http://cdn.lightwiremc.net/items/350-1.png') no-repeat; }
.mc-dye-black { background: url('http://cdn.lightwiremc.net/items/351-0.png') no-repeat; }
.mc-dye-red { background: url('http://cdn.lightwiremc.net/items/351-1.png') no-repeat; }
.mc-dye-green { background: url('http://cdn.lightwiremc.net/items/351-2.png') no-repeat; }
.mc-dye-beans { background: url('http://cdn.lightwiremc.net/items/351-3.png') no-repeat; }
.mc-dye-lazuli { background: url('http://cdn.lightwiremc.net/items/351-4.png') no-repeat; }
.mc-dye-purple { background: url('http://cdn.lightwiremc.net/items/351-5.png') no-repeat; }
.mc-dye-cyan { background: url('http://cdn.lightwiremc.net/items/351-6.png') no-repeat; }
.mc-dye-charcoal { background: url('http://cdn.lightwiremc.net/items/351-7.png') no-repeat; }
.mc-dye-gray { background: url('http://cdn.lightwiremc.net/items/351-8.png') no-repeat; }
.mc-dye-pink { background: url('http://cdn.lightwiremc.net/items/351-9.png') no-repeat; }
.mc-dye-lime { background: url('http://cdn.lightwiremc.net/items/351-10.png') no-repeat; }
.mc-dye-yellow { background: url('http://cdn.lightwiremc.net/items/351-11.png') no-repeat; }
.mc-dye-aqua { background: url('http://cdn.lightwiremc.net/items/351-12.png') no-repeat; }
.mc-dye-magenta { background: url('http://cdn.lightwiremc.net/items/351-13.png') no-repeat; }
.mc-dye-orange { background: url('http://cdn.lightwiremc.net/items/351-14.png') no-repeat; }
.mc-dye-white { background: url('http://cdn.lightwiremc.net/items/351-15.png') no-repeat; }
.mc-bone { background: url('http://cdn.lightwiremc.net/items/352-0.png') no-repeat; }
.mc-sugar { background: url('http://cdn.lightwiremc.net/items/353-0.png') no-repeat; }
.mc-item-cake { background: url('http://cdn.lightwiremc.net/items/354-0.png') no-repeat; }
.mc-item-bed { background: url('http://cdn.lightwiremc.net/items/355-0.png') no-repeat; }
.mc-item-repeater { background: url('http://cdn.lightwiremc.net/items/356-0.png') no-repeat; }
.mc-cookie { background: url('http://cdn.lightwiremc.net/items/357-0.png') no-repeat; }
.mc-map { background: url('http://cdn.lightwiremc.net/items/358-0.png') no-repeat; }
.mc-shears { background: url('http://cdn.lightwiremc.net/items/359-0.png') no-repeat; }
.mc-melon { background: url('http://cdn.lightwiremc.net/items/360-0.png') no-repeat; }
.mc-seeds-pumpkin { background: url('http://cdn.lightwiremc.net/items/361-0.png') no-repeat; }
.mc-seeds-melon { background: url('http://cdn.lightwiremc.net/items/362-0.png') no-repeat; }
.mc-raw-beef { background: url('http://cdn.lightwiremc.net/items/363-0.png') no-repeat; }
.mc-cook-beef { background: url('http://cdn.lightwiremc.net/items/364-0.png') no-repeat; }
.mc-raw-chicken { background: url('http://cdn.lightwiremc.net/items/365-0.png') no-repeat; }
.mc-cook-chicken { background: url('http://cdn.lightwiremc.net/items/366-0.png') no-repeat; }
.mc-flesh { background: url('http://cdn.lightwiremc.net/items/367-0.png') no-repeat; }
.mc-pearl { background: url('http://cdn.lightwiremc.net/items/368-0.png') no-repeat; }
.mc-rod-blaze { background: url('http://cdn.lightwiremc.net/items/369-0.png') no-repeat; }
.mc-tear { background: url('http://cdn.lightwiremc.net/items/370-0.png') no-repeat; }
.mc-nugget-gold { background: url('http://cdn.lightwiremc.net/items/371-0.png') no-repeat; }
.mc-nether-wart { background: url('http://cdn.lightwiremc.net/items/372-0.png') no-repeat; }
.mc-potion { background: url('http://cdn.lightwiremc.net/items/373-0.png') no-repeat; }
.mc-bottle { background: url('http://cdn.lightwiremc.net/items/374-0.png') no-repeat; }
.mc-eye-spider { background: url('http://cdn.lightwiremc.net/items/375-0.png') no-repeat; }
.mc-eye-fermented { background: url('http://cdn.lightwiremc.net/items/376-0.png') no-repeat; }
.mc-powder-blaze { background: url('http://cdn.lightwiremc.net/items/377-0.png') no-repeat; }
.mc-cream-magma { background: url('http://cdn.lightwiremc.net/items/378-0.png') no-repeat; }
.mc-stand-brewing { background: url('http://cdn.lightwiremc.net/items/379-0.png') no-repeat; }
.mc-ender-eye { background: url('http://cdn.lightwiremc.net/items/381-0.png') no-repeat; }
.mc-melon-glistering { background: url('http://cdn.lightwiremc.net/items/382-0.png') no-repeat; }
.mc-spawn-creeper { background: url('http://cdn.lightwiremc.net/items/383-50.png') no-repeat; }
.mc-spawn-skeleton { background: url('http://cdn.lightwiremc.net/items/383-51.png') no-repeat; }
.mc-spawn-spider { background: url('http://cdn.lightwiremc.net/items/383-52.png') no-repeat; }
.mc-spawn-zombie { background: url('http://cdn.lightwiremc.net/items/383-54.png') no-repeat; }
.mc-spawn-slime { background: url('http://cdn.lightwiremc.net/items/383-55.png') no-repeat; }
.mc-spawn-ghast { background: url('http://cdn.lightwiremc.net/items/383-56.png') no-repeat; }
.mc-spawn-pigman { background: url('http://cdn.lightwiremc.net/items/383-57.png') no-repeat; }
.mc-spawn-enderman { background: url('http://cdn.lightwiremc.net/items/383-58.png') no-repeat; }
.mc-spawn-cave { background: url('http://cdn.lightwiremc.net/items/383-59.png') no-repeat; }
.mc-spawn-sliverfish { background: url('http://cdn.lightwiremc.net/items/383-60.png') no-repeat; }
.mc-spawn-blaze { background: url('http://cdn.lightwiremc.net/items/383-61.png') no-repeat; }
.mc-spawn-magma { background: url('http://cdn.lightwiremc.net/items/383-62.png') no-repeat; }
.mc-spawn-bat { background: url('http://cdn.lightwiremc.net/items/383-65.png') no-repeat; }
.mc-spawn-witch { background: url('http://cdn.lightwiremc.net/items/383-66.png') no-repeat; }
.mc-spawn-mite { background: url('http://cdn.lightwiremc.net/items/383-67.png') no-repeat; }
.mc-spawn-guardian { background: url('http://cdn.lightwiremc.net/items/383-68.png') no-repeat; }
.mc-spawn-shulker { background: url('http://cdn.lightwiremc.net/items/383-69.png') no-repeat; }
.mc-spawn-pig { background: url('http://cdn.lightwiremc.net/items/383-90.png') no-repeat; }
.mc-spawn-sheep { background: url('http://cdn.lightwiremc.net/items/383-91.png') no-repeat; }
.mc-spawn-cow { background: url('http://cdn.lightwiremc.net/items/383-92.png') no-repeat; }
.mc-spawn-chicken { background: url('http://cdn.lightwiremc.net/items/383-93.png') no-repeat; }
.mc-spawn-squid { background: url('http://cdn.lightwiremc.net/items/383-94.png') no-repeat; }
.mc-spawn-wolf { background: url('http://cdn.lightwiremc.net/items/383-95.png') no-repeat; }
.mc-spawn-mooshroom { background: url('http://cdn.lightwiremc.net/items/383-96.png') no-repeat; }
.mc-spawn-ocelot { background: url('http://cdn.lightwiremc.net/items/383-98.png') no-repeat; }
.mc-spawn-horse { background: url('http://cdn.lightwiremc.net/items/383-100.png') no-repeat; }
.mc-spawn-rabbit { background: url('http://cdn.lightwiremc.net/items/383-101.png') no-repeat; }
.mc-spawn-bear { background: url('http://cdn.lightwiremc.net/items/383-102.png') no-repeat; }
.mc-spawn-villager { background: url('http://cdn.lightwiremc.net/items/383-120.png') no-repeat; }
.mc-bottle-enchantment { background: url('http://cdn.lightwiremc.net/items/384-0.png') no-repeat; }
.mc-charge-fire { background: url('http://cdn.lightwiremc.net/items/385-0.png') no-repeat; }
.mc-quill { background: url('http://cdn.lightwiremc.net/items/386-0.png') no-repeat; }
.mc-book-written { background: url('http://cdn.lightwiremc.net/items/387-0.png') no-repeat; }
.mc-emerald { background: url('http://cdn.lightwiremc.net/items/388-0.png') no-repeat; }
.mc-frame { background: url('http://cdn.lightwiremc.net/items/389-0.png') no-repeat; }
.mc-item-pot { background: url('http://cdn.lightwiremc.net/items/390-0.png') no-repeat; }
.mc-item-carrot { background: url('http://cdn.lightwiremc.net/items/391-0.png') no-repeat; }
.mc-item-potato { background: url('http://cdn.lightwiremc.net/items/392-0.png') no-repeat; }
.mc-potato-baked { background: url('http://cdn.lightwiremc.net/items/393-0.png') no-repeat; }
.mc-potato-poison { background: url('http://cdn.lightwiremc.net/items/394-0.png') no-repeat; }
.mc-map-empty { background: url('http://cdn.lightwiremc.net/items/395-0.png') no-repeat; }
.mc-carrot-gold { background: url('http://cdn.lightwiremc.net/items/396-0.png') no-repeat; }
.mc-head-skeleton { background: url('http://cdn.lightwiremc.net/items/397-0.png') no-repeat; }
.mc-head-wither { background: url('http://cdn.lightwiremc.net/items/397-1.png') no-repeat; }
.mc-head-zombie { background: url('http://cdn.lightwiremc.net/items/397-2.png') no-repeat; }
.mc-head-steve { background: url('http://cdn.lightwiremc.net/items/397-3.png') no-repeat; }
.mc-head-creeper { background: url('http://cdn.lightwiremc.net/items/397-4.png') no-repeat; }
.mc-head-dragon { background: url('http://cdn.lightwiremc.net/items/397-5.png') no-repeat; }
.mc-carrot-stick { background: url('http://cdn.lightwiremc.net/items/398-0.png') no-repeat; }
.mc-star { background: url('http://cdn.lightwiremc.net/items/399-0.png') no-repeat; }
.mc-pie { background: url('http://cdn.lightwiremc.net/items/440-0.png') no-repeat; }
.mc-rocket { background: url('http://cdn.lightwiremc.net/items/401-0.png') no-repeat; }
.mc-firework { background: url('http://cdn.lightwiremc.net/items/402-0.png') no-repeat; }
.mc-book-enchanted { background: url('http://cdn.lightwiremc.net/items/403-0.png') no-repeat; }
.mc-item-comparator { background: url('http://cdn.lightwiremc.net/items/404-0.png') no-repeat; }
.mc-item-brick-nether { background: url('http://cdn.lightwiremc.net/items/405-0.png') no-repeat; }
.mc-item-quartz { background: url('http://cdn.lightwiremc.net/items/406-0.png') no-repeat; }
.mc-tnt-minecart { background: url('http://cdn.lightwiremc.net/items/407-0.png') no-repeat; }
.mc-hopper-minecart { background: url('http://cdn.lightwiremc.net/items/408-0.png') no-repeat; }
.mc-shard { background: url('http://cdn.lightwiremc.net/items/409-0.png') no-repeat; }
.mc-crystals { background: url('http://cdn.lightwiremc.net/items/410-0.png') no-repeat; }
.mc-raw-rabbit { background: url('http://cdn.lightwiremc.net/items/411-0.png') no-repeat; }
.mc-cook-rabbit { background: url('http://cdn.lightwiremc.net/items/412-0.png') no-repeat; }
.mc-stew-rabbit { background: url('http://cdn.lightwiremc.net/items/413-0.png') no-repeat; }
.mc-foot { background: url('http://cdn.lightwiremc.net/items/414-0.png') no-repeat; }
.mc-hide { background: url('http://cdn.lightwiremc.net/items/415-0.png') no-repeat; }
.mc-stand-armor { background: url('http://cdn.lightwiremc.net/items/416-0.png') no-repeat; }
.mc-horse-iron { background: url('http://cdn.lightwiremc.net/items/417-0.png') no-repeat; }
.mc-horse-gold { background: url('http://cdn.lightwiremc.net/items/418-0.png') no-repeat; }
.mc-horse-diamond { background: url('http://cdn.lightwiremc.net/items/419-0.png') no-repeat; }
.mc-lead { background: url('http://cdn.lightwiremc.net/items/420-0.png') no-repeat; }
.mc-tag { background: url('http://cdn.lightwiremc.net/items/421-0.png') no-repeat; }
.mc-command-minecart { background: url('http://cdn.lightwiremc.net/items/422-0.png') no-repeat; }
.mc-raw-mutton { background: url('http://cdn.lightwiremc.net/items/423-0.png') no-repeat; }
.mc-cook-mutton { background: url('http://cdn.lightwiremc.net/items/424-0.png') no-repeat; }
.mc-banner { background: url('http://cdn.lightwiremc.net/items/425-0.png') no-repeat; }
.mc-item-door-spruce { background: url('http://cdn.lightwiremc.net/items/427-0.png') no-repeat; }
.mc-item-door-birch { background: url('http://cdn.lightwiremc.net/items/428-0.png') no-repeat; }
.mc-item-door-jungle { background: url('http://cdn.lightwiremc.net/items/429-0.png') no-repeat; }
.mc-item-door-acacia { background: url('http://cdn.lightwiremc.net/items/430-0.png') no-repeat; }
.mc-item-door-dark { background: url('http://cdn.lightwiremc.net/items/431-0.png') no-repeat; }
.mc-fruit-chorus { background: url('http://cdn.lightwiremc.net/items/432-0.png') no-repeat; }
.mc-fruit-popped { background: url('http://cdn.lightwiremc.net/items/433-0.png') no-repeat; }
.mc-beetroot { background: url('http://cdn.lightwiremc.net/items/434-0.png') no-repeat; }
.mc-seeds-beetroot { background: url('http://cdn.lightwiremc.net/items/435-0.png') no-repeat; }
.mc-soup-beetroot { background: url('http://cdn.lightwiremc.net/items/436-0.png') no-repeat; }
.mc-breath { background: url('http://cdn.lightwiremc.net/items/437-0.png') no-repeat; }
.mc-splash { background: url('http://cdn.lightwiremc.net/items/438-0.png') no-repeat; }
.mc-arrow-spectral { background: url('http://cdn.lightwiremc.net/items/439-0.png') no-repeat; }
.mc-arrow-tipped { background: url('http://cdn.lightwiremc.net/items/440-0.png') no-repeat; }
.mc-lingering { background: url('http://cdn.lightwiremc.net/items/441-0.png') no-repeat; }
.mc-shield { background: url('http://cdn.lightwiremc.net/items/442-0.png') no-repeat; }
.mc-elytra { background: url('http://cdn.lightwiremc.net/items/443-0.png') no-repeat; }
.mc-boat-spruce { background: url('http://cdn.lightwiremc.net/items/444-0.png') no-repeat; }
.mc-boat-birch { background: url('http://cdn.lightwiremc.net/items/445-0.png') no-repeat; }
.mc-boat-jungle { background: url('http://cdn.lightwiremc.net/items/446-0.png') no-repeat; }
.mc-boat-acacia { background: url('http://cdn.lightwiremc.net/items/447-0.png') no-repeat; }
.mc-boat-dark { background: url('http://cdn.lightwiremc.net/items/448-0.png') no-repeat; }
.mc-disc-13 { background: url('http://cdn.lightwiremc.net/items/2256-0.png') no-repeat; }
.mc-disc-cat { background: url('http://cdn.lightwiremc.net/items/2257-0.png') no-repeat; }
.mc-disc-blocks { background: url('http://cdn.lightwiremc.net/items/2258-0.png') no-repeat; }
.mc-disc-chirp { background: url('http://cdn.lightwiremc.net/items/2259-0.png') no-repeat; }
.mc-disc-far { background: url('http://cdn.lightwiremc.net/items/2260-0.png') no-repeat; }
.mc-disc-mall { background: url('http://cdn.lightwiremc.net/items/2261-0.png') no-repeat; }
.mc-disc-mallohi { background: url('http://cdn.lightwiremc.net/items/2262-0.png') no-repeat; }
.mc-disc-stal { background: url('http://cdn.lightwiremc.net/items/2263-0.png') no-repeat; }
.mc-disc-strad { background: url('http://cdn.lightwiremc.net/items/2264-0.png') no-repeat; }
.mc-disc-ward { background: url('http://cdn.lightwiremc.net/items/2265-0.png') no-repeat; }
.mc-disc-11 { background: url('http://cdn.lightwiremc.net/items/2266-0.png') no-repeat; }
.mc-disc-wait { background: url('http://cdn.lightwiremc.net/items/2267-0.png') no-repeat; }
